<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.portfolio.mapper.ProductMapper">

	<insert id="createProduct">
	insert into product_tbl 
	(title, i_price, startprice, nowprice, buytype, tendercnt, quantity, desc_product, createdate)
	values
	(#{title}, #{i_price}, #{startprice}, #{nowprice}, 
	 #{buytype}, #{tendercnt}, #{quantity}, #{desc_product}, now())
	</insert>
	
	<select id="readProduct" resultType="ProductVO">
	select * from product_tbl
	where pno=#{pno}
	</select>
	
	<update id="modifyProduct">
	update product_tbl set
	title=#{title},
	i_price=#{i_price},
	startprice=#{startprice},
	buytype=#{buytype},
	quantity=#{quantity}
	desc_product=#{desc_product},
	where pno=#{pno}
	</update>
	
	<delete id="deleteProduct">
	delete from product_tbl
	where pno=#{pno}
	</delete>
	
	<select id="listAll" resultType="ProductVO">
	select * from product_tbl
	<![CDATA[
	where pno>0
	]]>
	order by pno desc, createdate desc
	</select>
	
	<select id="listPage" resultType="ProductVO">
	select * from product_tbl
	<![CDATA[
	where pno>0
	]]> 
	order by pno desc, createdate desc 
	limit #{page},20
	</select>
	
	<select id="listCriteria" resultType="ProductVO">
	select * from product_tbl
	<![CDATA[
	where pno>0
	]]> 
	order by pno desc, createdate desc 
	limit #{startPage},#{perPageNum}
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
	select count(pno) from product_tbl
	where pno>0
	]]>
	</select>
	
	<select id="getPno" resultType="int">
	select max(pno) from product_tbl
	</select>
	
	<insert id="addAttach">
	insert into prod_attach (fullName, pno)
	values (#{fullName}, (select max(pno) from product_tbl))
	</insert>
	
	<select id="getOneImg" resultType="String">
	select * from prod_attach 
	where pno=#{pno} 
	limit 1
	</select>
	
	<select id="getAllImg" resultType="String">
	select * from prod_attach
	where pno=#{pno}
	</select>

</mapper>













