<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.portfolio.mapper.ProductMapper">

	<insert id="createProduct">
	insert into product_tbl 
	(pid, title, i_price, startprice, nowprice, buytype, tendercnt, quantity, desc_product, createdate)
	values
	(seq_product.nextval, #{title}, #{i_price}, #{startprice}, #{nowprice}, 
	 #{buytype}, #{tendercnt}, #{quantity}, #{desc_product}, sysdate)
	</insert>
	
	<select id="readProduct" resultType="ProductVO">
	select * from product_tbl
	where pid=#{pid}
	</select>
	
	<update id="modifyProduct">
	update product_tbl set
	title=#{title},
	i_price=#{i_price},
	startprice=#{startprice},
	buytype=#{buytype},
	quantity=#{quantity}
	desc_product=#{desc_product},
	where pid=#{pid}
	</update>
	
	<delete id="deleteProduct">
	delete from product_tbl
	where pid=#{pid}
	</delete>
	
	<select id="listAll" resultType="ProductVO">
	select * from product_tbl
	<![CDATA[
	where pid>0
	]]>
	order by pid desc, createdate desc
	</select>
	
	<select id="listPage" resultType="ProductVO">
	select * from product_tbl
	<![CDATA[
	where pid>0
	]]> 
	order by pid desc, createdate desc 
	</select>

</mapper>













