<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.portfolio.mapper.UserMapper">
	
	<select id="login" resultType="UserVO">
	select userID, userPassword, userName
	from user_tbl
	where userID=#{userID} and userPassword=#{userPassword}
	</select>
	
	<select id="userInfo" resultType="UserVO">
	select * from user_tbl where userID=#{userID}
	</select>
	

	
</mapper>